.Hakkimizda{
    width: 100%;
    height: 98vh;
    margin-top: 3rem;
    img{
        width: 100%;
        margin-top: 2rem;
        display: relative;
    }
    
    .aboutText{
        position: absolute;
        margin-top: -55%;
        width: 50%;
        padding-left: 5rem;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
        h1{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 20%;
        }
        .karrolLogo{
            width: 20%;
        }
    }
    
}

@media only screen and (max-width: 920px){
    .Hakkimizda{
        width: 100%;
        height: max-content;
        margin-bottom: -1rem;
        img{
            width: 100%;
            margin-top: 2rem;
        }
        .aboutText{
            position: absolute;
            margin-top: -50%;
            width: 50%;
            padding-left: 1rem;
            gap: 0.5rem;
            font-size: smaller;
            h1{
                font-size: 12px;
                margin-left: 10%;
            }
            p{
               font-size: 8px; 
            }
            .karrolLogo{
                width: 20%;
            }
        }
    }
}