.Sec3{
    width: 100%;
    gap: 4rem;
    margin-top: 1rem;
    video{
        opacity: 0.5;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .Sec3-wrapper{
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 5rem;
        margin-top: -55%;
        .gear{
            width: 7rem;
            animation: rotate 5s linear infinite;
            background-color: rgba(9, 26, 54, 0.5);
            padding: 1rem;
            border-radius: 100%;
        }
        .partnerInfo{
        background-color: rgba(6, 16, 34, 0.8);
        color: white;
        width: 70%;
        padding: 1rem;
        border-radius: 10px;
        text-align: center;
        -webkit-box-shadow: -2px -2px 35px 11px rgba(0,0,0,0.6);
-moz-box-shadow: -2px -2px 35px 11px rgba(0,0,0,0.6);
box-shadow: -2px -2px 35px 11px rgba(0,0,0,0.6);
        svg{
            font-size: 5rem;
            fill: white;
        }
    }
    .partnerLogos{
        background-color: rgba(255, 255, 255,0.5);
        // border: 8px dotted #10316b;
        border-radius: 50%;
        width: 60%;
        .slick-slider{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            div{
                width: 100%;
                .LazyLoad{
                    width: 100%;
                    img{
                        width: 80%;
                    }
                }
            }
        }
        
    }
    p{
        color: #091a36;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 1rem;
        border-radius: 1rem;
    }
    }
    
}

@keyframes rotate {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
   }