.AfterMarketler{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 16, 34);
        color: white;
        padding: 3rem;
        gap: 1rem;
    .partnersLogos{
        border-radius: 10px;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img{
            width: 10%;
        }
    }
    .afterText{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        
        p{
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5rem;
            margin-bottom: 1rem;
        }
    }
}


@media only screen and (max-width: 920px){
    .AfterMarketler{
        width: 100%;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #061022;
            color: white;
            padding: 3rem;
            gap: 1rem;
        .partnersLogos{
            border-radius: 10px;
            opacity: 0.5;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            img{
                width: 20%;
            }
        }
        .afterText{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 1rem;
            
            p{
                font-size: 14px;
                font-weight: 600;
                line-height: 1.5rem;
                margin-bottom: 1rem;
            }
        }
    }
    
}