.Sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    background-color: rgb(9, 26, 54);
    padding: 1rem;
    div{
        img{
            width: 10rem;
        }
    }
}